@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    text-transform: uppercase;
}

header .logo {
    font-size: 30px;
    color: #f984f7;
    text-transform: uppercase;
    font-weight: bold;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    display: inline-block;
    color: #000000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    font-weight: 600;
}

header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: #04d9bf;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #04d9bf;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;

}

.text {
    float: left;
    width: 50%;
    padding: 20px;
    margin-top: 15%;
    box-sizing: border-box;
}

.image {
    float: left;
    width: 50%;
    box-sizing: border-box;
    filter: drop-shadow(5px 3px 12px #ccc);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

span {
    color: #00dfc0;

    font-weight: 700;
}

h1,
h2 {
    font-size: 40px;
}

@media (max-width: 768px) {

    .text,
    .image  {
        width: 100%;
        float: none;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }

    header nav {
        background-color: aliceblue;
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        padding: 30px;
        transition: 0.3s;
    }

    header #nav_check:checked~nav {
        left: 0;
    }

    header nav ul {
        display: block;
    }

    header nav ul li a {
        margin: 5px 0;
    }
}


.about-section {
    background-color: #f4f4f4;
    text-align: center;
    padding: 80px 0;
 
}

.container2 {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.about-text {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.about-image {
    float: left;
    width: 40%;
    box-sizing: border-box;
    margin-bottom: 100px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.img2 {
    filter: drop-shadow(5px 3px 12px #ccc);
}


.info {
    display: block;
    font-size: 25px;
    max-width: 100%;
}

@media (max-width: 768px) {

    .about-text,
    .about-image,
    .info {
        width: 100%;
        float: none;
    }
}

.container3 {
    width: 100%;
    padding: 35px 10%;
}
.container4 {
    width: 100%;
    padding: 35px 10%;
    background-color: #f4f4f4;
}
.container3,
.container4 {
    padding-right: calc(10% - 30px);
}

.container5 {
    width: 100%;
    padding: 35px 10%;
    
}
.certificate{
    color: #04d9bf;
    padding: 0px 0px 20px 30px;
}

.project{
    color: #04d9bf;
    padding: 0px 0px 20px 30px;
}
.container3,
.container5 {
    padding-right: calc(10% - 30px);
}

main.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.col .title {
    color: #04d9bf;
    padding: 0px 0px 20px 30px;
}

.col .contents {
    padding: 0px 30px;
    border-left: 2px solid #00dfc0;
}

.col .contents .box {
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}

.col .contents .box:hover {
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
    background-color:white;
}

.col .contents .box::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #00dfc0;
    border: 2px solid white;
}

.box {
    height: 90%;
    width: 80%;
}

.box h4 {
    position: relative;

}

.box img {
    height: 300px;
    width: 550px;
    filter: drop-shadow(5px 3px 12px #ccc);
    justify-content: center;
}

.box h3 {
    font-size: 15px;
    padding: 10px 0px 6px;
    font-family: helvetica;
    color: #444;
}

.box li {
    font-weight: bold;
    font-size: 20px;
}

.box h2 {
    font-size: 20px;
}

@media(max-width: 768px) {
    main.row {
        grid-template-columns: 1fr;
    }

    .row .col:nth-child(2) {
        margin-top: 30px;
    }

    .box img {
        height: 200px;
    }

    .box {
        height: 100%;
        width: 100%;
    }
}



.btn {
    background-color: #2d4149;
    border-radius: 6px;
    font-size: 100%;
    height: 44px;
    font-weight: bold;
    margin: 12px 0 0;
    overflow: hidden;
    padding: 0 25px;
    text-align: center;
    box-shadow: 5px 5px 10px 0 #43e9d36f;
}

.btn a {
    color: #f4f4f4;
}


.container6 {
    width: 100%;
    padding: 35px 10%;
    background-color: #f4f4f4;
}
.container6 {
    padding-right: calc(10% - 30px);
}
.contact{
    color: #04d9bf;
    padding: 0px 0px 20px 30px;
}

